<% div_for comment do %>

<h4><%= comment.name %> - <small> <%= comment.email %> </small></h4>
<p><%= comment.body %></p>

<%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
<%= link_to 'Delete', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %> |

<% end %>