<% @comments.each do |comment| %>
      <div class='well'>

   <p class='comment'><%= comment.name %></p>
    <p class='comment'><%= comment.email %></p>

             <p class='comment'><%= comment.body %></p>

        <!-- add a condition with a user session 
        <button class = 'btn btn-primary'>Delete</button>-->

      </div>
  <% end %>



<h3>Leave a comment</h3>
<!-- this is the form to add a comment -->
<%= form_for([@post, @post.comments.build]) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>